@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-bg text-white overflow-x-hidden;
  }
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px currentColor;
  }

  .box-glow {
    box-shadow: 0 0 20px rgba(0, 243, 255, 0.2);
  }

  .bg-grid-pattern {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  }
}